.section-02-00{
 min-height: 50vh;
    .date,.author{
        display: inline-block;
        margin: 5px;
        margin-bottom: 50px;
    }

    .title{
        margin-bottom: 30px;
    }
    // p{
    //     line-height: 2;
    // }

}